<!-- I pledge my honor that I have abided by the Stevens Honor System. aciccone -->
<div>
  <div>
    <h1>User ID: {{userInfo._id}}</h1>
    <p>Username: {{userInfo.username}}</p>
    <p>firstName: {{userInfo.firstName}}</p>
    <p>lastName: {{userInfo.lastName}}</p>
    <p>Profession: {{userInfo.Profession}}</p>
    <p>Bio: {{userInfo.Bio}}</p>

    <p class="lead">
      <a class="btn-info" href="/logout" role="button">Log Out</a>
    </p>
  </div>
</div>
