<h1> Person Found </h1>
<h2> {{name}} </h2>
<dl>
  <dt>ID: {{id}}</dt>
  <dt>First Name: {{firstName}}</dt>
  <dt>Last Name: {{lastName}}</dt>
  <dt>Address: {{address}}</dt>
  <dt>Zip: {{zip}}</dt>
  <dt>Phone: {{phone}}</dt>
  <dt>SSN: {{ssn}}</dt>
</dl>
